@charset "UTF-8";
body {
  font-family: "Inter";
  color: #202329;
  margin: 1em;
  padding: 0;
}

header {
  background-color: #202329;
  padding: 20px;
}

h1 {
  font-size: 3.12rem;
  font-family: "Inter";
  font-weight: 700;
  margin: 0.67em 0;
}

button {
  background-color: #002B56;
  color: #FFFFFF;
  padding: 3px 6%;
  border: none;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

#everythingContainer {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
#everythingContainer #userContainer {
  display: flex;
  flex-direction: column;
}
#everythingContainer #userContainer .userPic {
  width: 64px;
  height: 64px;
  margin: 0 0 0 0.5em;
}
#everythingContainer #userContainer .settings {
  color: #002B56;
  width: 64px;
  height: 64px;
  margin: 1em 0 0 0.5em;
}

.profileContainer {
  display: flex;
  align-items: right;
}
.profileContainer .profilePic {
  width: 64px;
  height: 64px;
  margin: 1em 1em 0 0;
  display: block;
}
.profileContainer .profilePic .profileText {
  margin-top: 1em;
  font-size: 1em;
}

#eventsContainer {
  background-color: #EAE9E5;
  height: 100vh;
  padding: 0 0 0 2em;
  width: 67.5%;
}
#eventsContainer .profileContainer {
  width: 91%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
#eventsContainer .profileContainer .profilePic {
  width: 64px;
  height: 64px;
  margin: 1em 1em 0 0;
  display: block;
}
#eventsContainer .profileContainer .eventText {
  background-color: #002B56;
  font: "Inter";
  width: 100%;
  height: 100%;
  border-radius: 24px 24px 24px 0;
}
#eventsContainer .profileContainer .eventText h1 {
  color: #FFFFFF;
  font-size: 1.5em;
  margin: 0.67em 0.67em;
}
#eventsContainer .profileContainer .eventText h2 {
  color: #FFFFFF;
  font-size: 1em;
  margin: 0.67em 0.67em;
}
#eventsContainer .profileContainer .eventText p {
  color: #FFFFFF;
  font-size: 0.9em;
  margin: 0.67em 0.67em;
}

#leftContainer {
  width: 100%;
  margin-right: 1em;
}
#leftContainer #searchBox {
  width: 75%;
  margin: 0 0 0.25em 0;
  border: 2px solid #002B56;
  background-color: #002B56;
  color: #FFFFFF;
}

#filterContainer {
  display: flex;
  gap: 1em;
  margin: 0 0;
}
#filterContainer #sortDropdown {
  width: 100%;
  margin: 0 0 0.25em 0;
  background-color: #FFC500;
  color: #202329;
  border: 2px solid #FFC500;
}
#filterContainer input[type=date],
#filterContainer input[type=time] {
  width: 44.375%;
  background-color: #FFC500;
  border: 2px solid #FFC500;
  margin: 0 0 0.25em 0;
}
#filterContainer input[type=checkbox] {
  display: none;
}
#filterContainer input[type=checkbox] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 1em;
  color: #002B56;
}
#filterContainer input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #002B56;
  background-color: #FFFFFF;
  border-radius: 5px;
  transition: opacity 0.2s ease-in-out;
}
#filterContainer input[type=checkbox] + label::after {
  content: "";
  position: absolute;
  left: 3px;
  top: -1px;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
#filterContainer input[type=checkbox]:checked + label::after {
  content: "✔";
  opacity: 1;
}
#filterContainer input[type=checkbox]:indeterminate + label::after {
  left: 4.5px;
  top: -1px;
  font-weight: bold;
  letter-spacing: -2px;
  content: "--";
  opacity: 1;
}
#filterContainer input[type=checkbox]:hover + label::before {
  background-color: #ffd133;
}
#filterContainer #filter {
  padding: 0px;
  border: 1px solid #202329;
  border-radius: 5px;
  width: 100%;
}
#filterContainer #filter #filterButton {
  background-color: #002B56;
  color: #FFFFFF;
  padding: 3px 6%;
  border: none;
  border-radius: 5px;
  width: 100%;
}

#contentContainer {
  background-color: #EAE9E5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  margin-top: 0;
  padding: 0;
}
#contentContainer .contentCard {
  width: 30%;
  padding: 1em;
  border: 1px solid #202329;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
#contentContainer .contentCard .contentImage {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
#contentContainer .contentCard .contentImage .contentText {
  font-size: 1em;
}
#contentContainer .contentCard .contentImage .contentText .contentButton {
  background-color: #002B56;
  color: #FFFFFF;
  padding: 3px 6%;
  border: none;
  border-radius: 5px;
  width: 100%;
}

#dividingParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
#dividingParent #dividingLine {
  width: 90%;
  height: 4px;
  background-color: #DD2277;
  margin: 1em 0;
}

#createEventContainer {
  background-color: rgba(0, 0, 0, 0.3);
}
#createEventContainer #createEventBox {
  color: #002B56;
  width: 100%;
  height: 100%;
}
#createEventContainer #createEventBox form {
  padding: 1em;
}/*# sourceMappingURL=style.css.map */