{% extends 'base.html' %}
<!-- Page where socials/events are created -->



{% block content %}

<div id="createEventContainer">
    <div id="topBlue">
    </div>
    <div id="createEventBox">
        <form action="#" method="post">
            <label for="title">Event Name</label>
            <input name="title" id="title" required>
            <br>
            <select id="societyDropdown" name="societyDropdown">
                <option value="0">Non-SU Event</option>
                {% for society in societies %}
                <option value="{{ society['societyID'] }}">{{ society["societyName"] }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="location">Location</label>
            <input name="location" id="location" required>
            <br>
            <label for="date">Date & Time</label>
            <input name="date" id="date" type="{{ 'datetime-local' if alt_style else 'datetime' }}" required>
            <br>
            <label for="description">Description</label> 
            <textarea name="description" id="description" required></textarea>
            <br>
            {% if alt_style %}
            <div id="checkboxTags">
                {% for tag_name in tag_list %}
                <input type="checkbox" id="{{ tag_name }}" name="{{ tag_name }}" value="{{ tag_name }}">
                <label for="{{ tag_name }}" class="checkboxTag">{{ tag_name }}</label>
                {% endfor %}
            </div>
            {% else %}
            <label for="tags">Event Tags</label>
            <input name="tags" id="tags" required>
            {% endif %}
            <input type="submit" value="Save">
        </form>
    </div>
</div>

{% endblock %}