<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySocials</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <div id="everythingContainer">
        <div id="contentContainer">
            <h1>MySocials</h1>
            <!-- All of the main page content: ignores things such as the navbar -->

            <div id="leftContainer">
                <!-- This contains the search options + societies list -->
                <form action="#" method="GET">
                    <div>
                        <!-- 
                    TODO: Implement search, update search box according to currently applied filter options
                    I would implement it as such:
                    Each filter is a tag
                    Spaces between each tag
                    Exclusionary tags are prefixed with a dash (-favorited)
                    "soonest after:2024-12-31 before:2025-06-01 starts:1200 ends:2100 subscribed -favorited on_campus"
                -->
                        <input id="searchBox" type="search" name="search" placeholder="Search...">
                        <button type="submit">Search</button>
                    </div>
                    <div id="filterContainer">
                        <div>
                            <select id="sortDropdown" name="sort">
                                <option value="option1">Soonest upcoming</option>
                                <option value="option2">Newest added</option>
                            </select>
                            <br>
                            <input type="date" id="startDate" name="startDate"> - <input type="date" id="endDate"
                                name="endDate">
                            <br>
                            <input type="time" id="startTime" name="startTime"> - <input type="time" id="endTime"
                                name="endTime">
                        </div>
                        <div>
                            <!-- These checkboxes are implemented as REGULAR checkboxes! please edit them to be tristate when you can -->
                            <input type="checkbox" id="subscribed" name="subscribed" value="subscribed">
                            <label for="subscribed">Subscribed</label>
                            <br>
                            <input type="checkbox" id="favorited" name="favorited" value="favorited">
                            <label for="favorited">Favorited</label>
                            <br>
                            <input type="checkbox" id="onCampus" name="onCampus" value="onCampus">
                            <label for="onCampus">On Campus</label>
                            <br>
                            <input type="checkbox" id="societyEvent" name="societyEvent" value="societyEvent">
                            <label for="societyEvent">Society Event</label>
                            <br>
                            <input type="checkbox" id="ticketedEvent" name="ticketedEvent" value="ticketedEvent">
                            <label for="ticketedEvent">Ticketed Event</label>
                        </div>
                    </div>
                </form>
                <div id="dividingParent">
                    <div id="dividingLine"></div>
                </div>
                <div>
                    {% for society in societies %}
                    <div class="profileContainer">
                        <!-- PLACEHOLDER IMAGE -->
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Profile Picture"
                            class="profilePic">
                        <h2 class="societyName">{{ society["societyName"] }}</h2>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="eventsContainer">
            <!-- This contains the list of events -->
            {% for event in events %}
            <div class="profileContainer">
                <!-- PLACEHOLDER IMAGE -->
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Profile Picture"
                    class="profilePic">
                <div class="eventText">
                    <h1>{{ event["eventName"] }}</h1>
                    <h2>{{ event["societyName"] }}</h2>
                    <h2>{{ event["eventDate"]  }}</h2>
                    <p>{{ event["eventDescription"] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id = "userContainer">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="User Profile Picture" class="userPic">
            <a href="settings.html" class="login">
                <img src="https://cdn-icons-png.flaticon.com/512/3524/3524659.png" alt="Settings" class="settings">
            </a>
        </div>
    </div>
</body>

</html>