{% extends 'base.html' %}

<!-- {% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} -->
{% block title %}Register{% endblock %}

{% block content %}
<div class="formPage">

    <div class="formContainer">
        <h1>Sign Up</h1>
        <form class="registerForm" method="post">
            <input type="text" name="Forename" placeholder="Forename" required>
            <input type="text" name="Surname" placeholder="Surname" required>
            <input type="text" name="Username" placeholder="Username" required>
            <input type="email" name="Email" placeholder="Email" required>
            <input type="password" name="Password" placeholder="Password" required>
            <input type="password" name="Confirm Password" placeholder="Confirm Password" required>
            <input type="submit" value="Register">
        </form>
        
        <div class="loginLink">
            <p>Already have an account? <a href=" {{ url_for('auth.login') }} ">Log In</a></p>
        </div>

    </div>
</div>
{% endblock %}